extends layout

block content
  p#info= catInfo(category)
  &#8595;
  p#cats
    - var links = linking(category)
    - each val, key in links
      h2.project
        a(href=val) #{key.toUpperCase()}
    h3.project &infin;
