extends layout

block content
  p#copy
    strong
      | grow astrology like the woods
      | <br/>
      | grow stronger with each tree
  br
  p
    div(class= theme)

      h2#packages
        .line
          .l-room &nbsp;
          .s-room &nbsp;
          .l-room.mid.child
            a(href= "/to/eden") EDEN
        .line
          .l-dep.mid.arrow &#x21D9;
          .r-dep.mid.arrow &#x21D8;
        .line
          .l-room.mid.child
            a(href= "/to/archai") ARCHAI
          .s-room &nbsp;
          .l-room.mid.arrow &#x21D3;
          .o-room.mid.child
            a(href= "/to/precious") PRECIOUS
        .line
          .l-dep.mid.arrow &#x21D8;
          .r-dep.mid.arrow &#x21D9;
        .line
          .l-room.mid.arrow &#x21D3;
          .s-room &nbsp;
          .l-room.mid.child
            a(href= "/to/upon") UPON
          .o-room.mid.arrow &#x21D3;
        .line.blank &nbsp;
        .line
          .l-room.mid.child
            a(href= "/to/there") THERE
          .o-room.mid.child
            a(href= "/to/sin") SIN
        .line.blank &nbsp;
        .line
          .m-room.child
            a(href= "/to/terra") TERRA

      - each project in ["pi", "astrolin"]
        .platform
          - if(project === "pi")
            a(href= "/to/" + project)
              img(src= "/images/pi/Raspi-PGB001-300x267.png", width= "235px")
          - else
            h2.project
              a(href= "/to/" + project) &nbsp;#{project.toUpperCase()}&nbsp;

    h2#bottom.project.push
      - each cat in cats
        a.cat(href="/cat/" + cat) #{cat}
      p#highlight.push
        a.cat(href= "http://astrolet.co") back
        a.cat(href= "/data") have
        a.cat(href= "https://github.com/astrolet/astrolin/wiki") wiki

