doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    link(rel="icon", href="/favicon.ico")

    - var prefix = "Astro"
    - var chinese = "林"
    - if (typeof headest == "undefined")
      - headest = prefix.toUpperCase()

    - var entitled = prefix + " " + chinese
    - if (locals.title)
      - entitled += ' ' + title
    - // else + route?

    title= entitled
    meta(name="description", content="Astrolin: astrology language interface, Astrolet's opensource coffeescript / node.js ephemeris.")
    meta(name="keywords", content="astrology,astrolet,opensource,ephemeris,programming,coffeescript,node.js")

    style
      .wf-loading { visibility: hidden }

    script(src="http://use.typekit.com/loe7yzm.js")
    script.
      try{Typekit.load();}catch(e){}

    link(rel="stylesheet", href="/css/screen.css", media="screen", type="text/css")

    script.
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31137389-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    block head

  body#whole
    center
      #header
        h1
          span.tsu
            != headest + "&nbsp;"
          - if (typeof forehead === "undefined")
            span.tsu(style= "color: darkgreen")
              != chinese + "&nbsp;"
            a.tsd(href="http://#{otherURL}")= other.toUpperCase()
          - else
            a(href="/")= chinese
            != "&nbsp;" + forehead
      #torso
        block content

